src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cae778e2-9423-4b24-aabe-39aba5835a81" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="90007da3-1663-44ab-a09a-61b38e07f04d" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-time-apiFlow" doc:id="5b83c7be-afe4-4394-b106-026c271487ff" >
		<http:listener doc:name="Listener" doc:id="01bf3a55-62a0-4304-98ca-c7fb4cf0f76e" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="4a02a546-efbd-4ac0-83f9-736f1850c26d" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams."region",
	"city" : attributes.uriParams."city"
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
